<a href="https://colab.research.google.com/github/GukSangHa/code_3rd/blob/main/py231019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.To-Do List를 작성하시오.
 -2023년 10월 19일 국상하
 -(1) 09:20 도서관에서 책 빌리기
 -(2) 11:10 컴퓨팅적사고와 기초코딩 수업
 -(3) 13:00 점심식사
 -(4) 14:10 교양수업
 -(5) 16:00 파이썬 공부 및 레포트 작성
 -(6) 17:40 저녁식사및 집안일 돕기
 -(7) 19:00 LOL 하기

In [ ]:
print("To-D0 List를 작성하시오.")                                               # To-Do List 작성을 출력합니다.
print("2023년 10월 19일 국상하.")                                               # 2023년 10월 19일 국상하를 출력합니다.
print("(1) 09:20 도서관에서 책 빌리기.")                                        # 09:20 도서관에서 책 빌리기를 출력합니다.
print("(2) 11:10 컴퓨팅적사고와 기초코딩 수업.")                                # 11:10 컴퓨팅적사고와 기초코딩 수업을 출력합니다.
print("(3) 13:00 점심식사.")                                                    # 13:00 점심식사을 출력합니다.
print("(4) 14:10 교양수업.")                                                    # 14:10 교양수업을 출력합니다.
print("(5) 16:00 파이썬 공부 및 레포트 작성.")                                  # 16:00 파이썬 공부 및 레포트 작성을 출력합니다.
print("(6) 17:40 저녁식사및 집안일 돕기.")                                      # 17:40 저녁식사및 집안일 돕기를 출력합니다.
print("(7) 19:00 LOL 하기.")                                                    # 19:00 LOL 하기를 출력합니다.

To-D0 List를 작성하시오.
2023년 10월 19일 국상하.
(1) 09:20 도서관에서 책 빌리기.
(2) 11:10 컴퓨팅적사고와 기초코딩 수업.
(3) 13:00 점심식사.
(4) 14:10 교양수업.
(5) 16:00 파이썬 공부 및 레포트 작성.
(6) 17:40 저녁식사및 집안일 돕기.
(7) 19:00 LOL 하기.

2. 인사말 출력하기
 - 식사하셨습니까? 행님

In [ ]:
print("식사하셨습니까? 행님.")                            #"식사하셨습니까? 행님." 를 출력합니다.

식사하셨습니까? 행님.

3. 학생 4명의 국어점수를 입력받아서 아래와 같이 출력하시오.
  - 박보검: 90점
  - 션    : 92점
  - 도룡용: 80점
  - 차은우: 99점
  - 국어 점수 순위
  - 1등 차은우
  - 2등 션
  - 3등 박보검
  - 4등 도룡용

In [ ]:
n1 = (input("학생 이름과 점수를 입력하시오.:"))    # 학생 이름과 점수 입력받기
n2 = (input("학생 이름과 점수를 입력하시오.:"))    # 학생 이름과 점수 입력받기
n3 = (input("학생 이름과 점수를 입력하시오.:"))    # 학생 이름과 점수 입력받기
n4 = (input("학생 이름과 점수를 입력하시오.:"))    # 학생 이름과 점수 입력받기
print("1등", n4)                                   # 1등은 n4에 저장된 학생입니다.
print("2등", n2)                                   # 2등은 n2에 저장된 학생입니다.
print("3등", n1)                                   # 3등은 n1에 저장된 학생입니다.
print("4등", n3)                                   # 4등은 n3에 저장된 학생입니다.

학생 이름과 점수를 입력하시오.:박보검 90점
학생 이름과 점수를 입력하시오.:션 92점
학생 이름과 점수를 입력하시오.:도룡용 80점
학생 이름과 점수를 입력하시오.:차은우 99점
1등 차은우 99점
2등 션 92점
3등 박보검 90점
4등 도룡용 80점

4. 두개의 점수를 입력받아서 합계와 평균을 출력하시오.

In [ ]:
n1=int(input("n1 값을 입력하시오.:"))                                           # n1 값을 정수로 입력받습니다.
n2=int(input("n2 값을 입력하시오.:"))                                           # n2 값을 정수로 입력받습니다.
total=n1+n2                                                                     # n1과 n2의 합을 구합니다.
average=total/2                                                                 # 합을 2로 나누어 평균을 구합니다.
print(average)                                                                  # 평균을 출력합니다.

n1 값을 입력하시오.:90
n2 값을 입력하시오.:92
91.0